* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
}

/* .whole-enchilada {
  
} */

header {
  width: 100vw;
  height: 100px;
  background-color: dodgerblue;
}

.home {
  margin-left: 40px;
  display: flex;
  align-items: center;
  background-color: dodgerblue;
}

.profile-box {
  background-color: white;
  width: 80vw;
  height: 500px;
  margin: 120px auto 0px;
}

.action-buttons {
  margin-top: 10px;
}

.action-buttons {
  display: flex;
  justify-content: center;
}

li {
  margin: 10px;
}

.action {
  display: flex;
}

.anchors {
  color: white;
}

button {
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
}

.profile-box {
  box-sizing: border-box;
}

.pb-top-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.num-track {
  font-size: 30px;
  font-weight: 800;
}

.employee {
  font-size: 40px;
  text-decoration: underline solid dodgerblue;
  padding: 20px 30px;
}

.main-text {
  font-size: 25px;
}

.eeInfo {
  list-style: none;
  padding: 0px 30px;
}

.employeefav {
  padding: 20px 40px 5px 40px;
}

ol {
  padding-left: 100px;
}